.MainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1366px;
  max-width: 95%;
  max-height: 100vh;
  margin: auto auto 100px auto;
}

.App {
  text-align: center;
}