.formPageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.headBlock {
    margin-bottom: 24px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 24px auto;
}

.bottomButton {
    margin-bottom: 80px;
}

.bottomText {
    color: #8585AD;
}