.formPageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.headBlock {
    margin-bottom: 24px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.bottomButton {
    margin-top: 24px;
    margin-bottom: 80px;
}

.bottomText {
    color: #8585AD;
}

.bottomText p:first-child {
    margin-bottom: 16px;
}

.bottomText p a {
    text-decoration: none;
}