.menu{
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.menu p {
    margin-left: 8px;
    margin-right: 20px;
}

.menu:first-child {
    margin-left: 20px;
}

.menu:last-child {
    margin-right: 20px;
}

.menu:last-child p {
    color: rgb(133, 133, 173);
}