.MainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
}

.MainHeader {
    background-color: rgb(25,25,33);
}

.MainMenu {
    display: flex;
}