.ingredientBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: fit-content;
    margin: auto;
    text-align: center;
}

.elemCaption{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 60px auto;
}

.ingredientCaption {
    display: flex;
    text-align: center;
    color: rgb(133, 133, 173);
}

.image{
    margin: 0 auto 16px auto;
}

.name{
    margin: 0 auto 32px auto;
}


