.mainSection {
    display: flex;
    width: 600px;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 100px;
    row-gap: 16px;
}

.editableSection {
    width: 101%;
    height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
}

.fixedItem, .editableItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.editableItem {
    margin: 0 auto 16px auto;
}

.editableItem > section {
    display: flex;
    margin: auto 8px auto auto;
}

.orderInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
}

.orderSum {
    display: flex;
    flex-direction: row;
    margin: auto 40px auto auto;
}

.mainSection section > svg  {
    margin: auto;
}