.profile {
    display: flex;
    margin-top: 16px;
}

.profile p {
    margin-left: 8px;
    margin-right: 20px;
    color: rgb(133, 133, 173);
}

.profile a {
    text-decoration: none;
}

p.activeLink {
    color: white;
}