.mainBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.mainBlock h1 > p {
    min-height: 50vh;
}

.mainBlock h1.feedh1 {
    text-align: left;
    margin: 20px 0 0 40px;
}

.mainBlock p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}