.mainBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.mainBlock header > p {
    min-height: 50vh;
}

.mainBlock p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}